<%= form_with(model: workout, local: true) do |form| %>
  <% if workout.errors.any? %>
    <div id="error_explanation" style="color: red">
      <h2><%= pluralize(workout.errors.count, "error") %> prohibited this workout from being saved:</h2>
      <ul>
        <% workout.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :title, "Workout Title", style: "display: block" %>
    <%= form.text_field :title, id: "workout_title" %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
