<p id="notice"><%= notice %></p>
<h1>Workout Details</h1>
<div id="workout-details">
  <p><strong>Title:</strong> <%= @workout.title %></p>
  <p><strong>User:</strong> <%= @workout.user&.email || @workout.user_id %></p>
</div>
<h2>Exercises</h2>
<table id="workout-exercises-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Reps</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @workout.exercises.each do |exercise| %>
      <tr id="exercise_<%= exercise.id %>">
        <td><%= link_to exercise.name, exercise %></td>
        <td><%= exercise.reps %></td>
        <td>
          <%= link_to "Show", exercise %> |
          <%= link_to "Edit", edit_exercise_path(exercise) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to "Add Exercise", new_exercise_path(workout_id: @workout.id), id: "add-exercise-link" %>
<div class="actions">
  <%= link_to "Edit Workout", edit_workout_path(@workout), id: "edit-workout-link" %> |
  <%= link_to "Back to Workouts", workouts_path, id: "back-to-workouts-link" %>
  <%= button_to "Destroy this workout", @workout, method: :delete, data: { confirm: "Are you sure?" } %>
</div>
